#leader{
    padding: 80px 0;
}
.header{
    padding: 40px 0;
    text-align: center;
    h3{
        font-size: 13px;
        font-weight: 700;
        color: var(--second--color);
    }
    h2{
        font-weight: 900;
        font-size: 40px;
    }
}